body {
    margin: 0;
    padding: 0;
    background: url(https://media.istockphoto.com/vectors/abstract-blurred-colorful-background-vector-id1248542684?k=20&m=1248542684&s=612x612&w=0&h=1yKiRrtPhiqUJXS_yJDwMGVHVkYRk2pJX4PG3TT4ZYM=);
    font-family: sans-serif;
    background-position: center;
    background-size: cover;
}

.sign-up-form {
    width: 300px;
    background: white;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    padding: 20px;
    margin: 8% auto 0; /* 8% auto 0 auto */
    text-align: center;
}

.sign-up-form h1 {
    color: #1c8adb;
    margin-bottom: 30px;
}

.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px -10px;
    width: 100%;
    border: 1px solid black;
    outline: none;
}

button {
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 12px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.signup-button {
    background-color: #1c8adb;
}

a {
    text-decoration: none;
}

hr {
    margin-top: 20px;
    width: 90%;
}

.or {
    margin: -18px auto 10px; /* -19px auto 10px */
    width: 30px;
    background: white;
}